<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.p3l.ajr_mobile_0364">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ajr_mobile_0364"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".customer.CustProfileActivity"
            android:exported="true" />
        <activity
            android:name=".customer.CarActivity"
            android:exported="true" />
        <activity
            android:name=".customer.PromoActivity"
            android:exported="true" />
        <activity
            android:name=".manager.LeaderboardActivity"
            android:exported="true" />
        <activity
            android:name=".manager.DriverReportActivity"
            android:exported="true" />
        <activity
            android:name=".manager.IncomeReportActivity"
            android:exported="true" />
        <activity
            android:name=".manager.CarReportActivity"
            android:exported="true" />
        <activity
            android:name=".driver.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".driver.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".driver.RatingActivity"
            android:exported="true" />
        <activity
            android:name=".driver.OrderActivity"
            android:exported="true" />
        <activity
            android:name=".driver.DriverActivity"
            android:exported="true" />
        <activity
            android:name=".manager.ManagerActivity"
            android:exported="true" />
        <activity
            android:name=".customer.CustomerActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>